<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.2.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <context:spring-configured/>

    <util:properties id="queryProperties" location="classpath:query.properties" />

    <util:properties id="configProperties" location="classpath:config.properties" />

    <bean id="domainPropertyService" class="com.jrew.geocatch.repository.service.DomainPropertyServiceImpl" >
        <constructor-arg name="dbManager" ref="domainPropertyDBManager"/>
    </bean>

    <bean id="imageService" class="com.jrew.geocatch.repository.service.ImageServiceImpl" >
        <constructor-arg name="fileSystemManager" ref="fileSystemManager"/>
        <constructor-arg name="imageDBManager" ref="databaseManager"/>
    </bean>

    <!--bean id="fileSystemManager" class="com.jrew.geocatch.repository.dao.filesystem.FileSystemManagerImpl" >
        <property name="fileNameGenerator" ref="fileNameGenerator"/>
        <property name="folderLocator" ref="folderLocator"/>
        <property name="thumbnailFactory" ref="thumbnailFactory"/>
    </bean-->

    <bean id="fileSystemManager" class="com.jrew.geocatch.repository.dao.filesystem.AmazonS3FileSystemManagerImpl" />

    <bean id="thumbnailFactory" class="com.jrew.geocatch.repository.service.thumbnail.CoobirdThumbnailFactoryImpl"/>

    <bean id="folderLocator" class="com.jrew.geocatch.repository.dao.filesystem.FolderLocatorImpl" />

    <bean id="fileNameGenerator" class="com.jrew.geocatch.repository.service.generator.GeoTimeFileNameGeneratorImpl" />


    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

    <aop:aspectj-autoproxy>
        <aop:include name="aopLogger"/>
    </aop:aspectj-autoproxy>

    <bean id="aopLogger" class="com.jrew.geocatch.repository.aop.AopLogger" >
        <constructor-arg name="dateFormatPattern" value="#{configProperties['logger.dateFormatPattern']}"/>
    </bean>

    <bean class="com.jrew.geocatch.repository.converter.ClientImagePreviewConverter" />
    <bean class="com.jrew.geocatch.repository.converter.ClientImageConverter" />
    <bean class="com.jrew.geocatch.repository.converter.DomainPropertyConverter" />
    <bean class="com.jrew.geocatch.repository.converter.DomainPropertiesConverter" />

    <bean id="imageReviewService" class="com.jrew.geocatch.repository.service.ImageReviewServiceImpl" />

    <bean id="amazonRegionsConfig" class="com.jrew.geocatch.repository.dao.filesystem.AmazonS3RegionsConfig" >
        <property name="regions">
            <util:map map-class="java.util.HashMap">
                <entry key="US_EAST_1" value-ref="usEast1Region"/>
                <entry key="US_WEST_1" value-ref="usWest1Region"/>
                <entry key="US_WEST_2" value-ref="usWest2Region"/>
                <entry key="EU_WEST_1" value-ref="euWest1Region"/>
                <entry key="AP_SOUTHEAST_1" value-ref="apSoutheast1Region"/>
                <entry key="AP_SOUTHEAST_2" value-ref="apSoutheast2Region"/>
                <entry key="AP_NORTHEAST_1" value-ref="apNorthEast1Region"/>
                <entry key="SA_EAST_1" value-ref="saEast1Region"/>
            </util:map>
        </property>
    </bean>

    <bean id="usEast1Region" class="com.jrew.geocatch.repository.model.Region" >
        <constructor-arg name="startLatitude" value="0" />
        <constructor-arg name="endLatitude" value="90" />
        <constructor-arg name="startLongitude" value="-30" />
        <constructor-arg name="endLongitude" value="-90" />
    </bean>

    <!-- US West(Oregon) Region  -->
    <bean id="usWest1Region" class="com.jrew.geocatch.repository.model.Region" >
        <constructor-arg name="startLatitude" value="40" />
        <constructor-arg name="endLatitude" value="90" />
        <constructor-arg name="startLongitude" value="-90" />
        <constructor-arg name="endLongitude" value="-180" />
    </bean>

    <!-- US West (Northern California) Region -->
    <bean id="usWest2Region" class="com.jrew.geocatch.repository.model.Region" >
        <constructor-arg name="startLatitude" value="0" />
        <constructor-arg name="endLatitude" value="40" />
        <constructor-arg name="startLongitude" value="-90" />
        <constructor-arg name="endLongitude" value="-180" />
    </bean>

    <!-- EU (Ireland) Region  -->
    <bean id="euWest1Region" class="com.jrew.geocatch.repository.model.Region" >
        <constructor-arg name="startLatitude" value="-90" />
        <constructor-arg name="endLatitude" value="90" />
        <constructor-arg name="startLongitude" value="-30" />
        <constructor-arg name="endLongitude" value="70" />
    </bean>

    <!-- Asia Pacific (Singapore) Region -->
    <bean id="apSoutheast1Region" class="com.jrew.geocatch.repository.model.Region" >
        <constructor-arg name="startLatitude" value="-10" />
        <constructor-arg name="endLatitude" value="35" />
        <constructor-arg name="startLongitude" value="70" />
        <constructor-arg name="endLongitude" value="180" />
    </bean>

    <!-- Asia Pacific (Sydney) Region -->
    <bean id="apSoutheast2Region" class="com.jrew.geocatch.repository.model.Region" >
        <constructor-arg name="startLatitude" value="-90" />
        <constructor-arg name="endLatitude" value="-10" />
        <constructor-arg name="startLongitude" value="70" />
        <constructor-arg name="endLongitude" value="180" />
    </bean>

    <!-- Asia Pacific (Tokyo) Region -->
    <bean id="apNorthEast1Region" class="com.jrew.geocatch.repository.model.Region" >
        <constructor-arg name="startLatitude" value="-10" />
        <constructor-arg name="endLatitude" value="90" />
        <constructor-arg name="startLongitude" value="70" />
        <constructor-arg name="endLongitude" value="180" />
    </bean>

    <!-- South America (Sao Paulo) Region -->
    <bean id="saEast1Region" class="com.jrew.geocatch.repository.model.Region" >
        <constructor-arg name="startLatitude" value="0" />
        <constructor-arg name="endLatitude" value="-90" />
        <constructor-arg name="startLongitude" value="-30" />
        <constructor-arg name="endLongitude" value="-180" />
    </bean>

</beans>