<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.2.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <context:spring-configured/>

    <util:properties id="queryProperties" location="classpath:query.properties" />

    <util:properties id="configProperties" location="classpath:config.properties" />

    <bean id="domainPropertyService" class="com.jrew.geocatch.repository.service.DomainPropertyServiceImpl" >
        <constructor-arg name="dbManager" ref="domainPropertyDBManager"/>
    </bean>

    <bean id="imageService" class="com.jrew.geocatch.repository.service.ImageServiceImpl" >
        <constructor-arg name="fileSystemManager" ref="fileSystemManager"/>
        <constructor-arg name="imageDBManager" ref="databaseManager"/>
    </bean>

    <bean id="fileSystemManager" class="com.jrew.geocatch.repository.dao.filesystem.FileSystemManagerImpl" >
        <property name="fileNameGenerator" ref="fileNameGenerator"/>
        <property name="folderLocator" ref="folderLocator"/>
        <property name="thumbnailFactory" ref="thumbnailFactory"/>
    </bean>

    <bean id="thumbnailFactory" class="com.jrew.geocatch.repository.service.thumbnail.CoobirdThumbnailFactoryImpl"/>

    <bean id="folderLocator" class="com.jrew.geocatch.repository.dao.filesystem.FolderLocatorImpl" />

    <bean id="fileNameGenerator" class="com.jrew.geocatch.repository.service.generator.GeoTimeFileNameGeneratorImpl" />


    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

    <aop:aspectj-autoproxy>
        <aop:include name="aopLogger"/>
    </aop:aspectj-autoproxy>

    <bean id="aopLogger" class="com.jrew.geocatch.repository.aop.AopLogger" >
        <constructor-arg name="dateFormatPattern" value="#{configProperties['logger.dateFormatPattern']}"/>
    </bean>

    <bean class="com.jrew.geocatch.repository.converter.ClientImagePreviewConverter" />
    <bean class="com.jrew.geocatch.repository.converter.ClientImageConverter" />
    <bean class="com.jrew.geocatch.repository.converter.DomainPropertyConverter" />
    <bean class="com.jrew.geocatch.repository.converter.DomainPropertiesConverter" />

    <bean id="imageReviewService" class="com.jrew.geocatch.repository.service.ImageReviewServiceImpl" />

</beans>