<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <RollingFile name="LogFile" fileName="${logfile.path}"
                     filePattern="logs/%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </appenders>
    <loggers>
        <logger name="com.jrew.geocatch.repository.dao" level="trace" additivity="false" immediateFlush="true">
            <appender-ref ref="LogFile"/>
        </logger>
        <logger name="com.jrew.geocatch.repository.controller" level="debug" additivity="false" immediateFlush="true">
            <appender-ref ref="LogFile"/>
        </logger>
        <root level="info" immediateFlush="true">
            <appender-ref ref="LogFile"/>
        </root>
    </loggers>
</configuration>